.fn-primary {
	width: auto!important;
}

@media screen and (max-width: 1024px) {
	.fn-site-title {
		float: none;
		padding: 20px 0;
		text-align: center;
	}
	.fn-site-title a {
		margin: 0!important;
	}	
	.fn-header-banner {
		margin: auto!important;
		float: none;
	}
}
@media screen and (max-width: 800px) {
	.fn-main-menu-wrapper ul.menu > li > a {
		padding: 0 10px;
		font-size: 100%!important;
	}
}
@media screen and (max-width: 767px) {
	/* HEADER */
	.fn-header {
		display: none;
	}	
	.fn-mob-header {
		display: block;	
		box-shadow: 0 1px 3px 3px rgba(0,0,0,0.2);	
	}
	.fn-header-banner-mobile {
		margin-top: 30px!important;
		height: auto;
		display: block;
	}
	.fn-mob-logo {
		padding: 0.5em 0;
	}
	.fn-mob-menu-box ul {
		margin: 0;
	}
	.fn-mob-above .fn-search-form {
		background: #222;
		line-height: 40px;
	}
	.fn-mob-above .fn-search-form-text {
		box-shadow: none;
		border: none;
		height: 40px;
		width: 100%;
		padding-right: 40px;
		color: white;
	}
	.fn-mob-above .fn-search-form-submit {
		position: absolute;
		top: 0;
		right: 0;
		height: 40px;
		width: 40px;
		text-align: center;
	}
	.fn-mob-menu-box {
		background: #f0f0f0;
		padding: 10px 0;
		font-size: 20px;
	}
	.fn-mob-menu-box ul {
		margin: 0;
		padding: 0;
	}
	.fn-mob-menu-box li {
		display: block;
		font-size: 95%;
	}
	.fn-mob-menu-box li a {
		display: block;
		padding: 10px 20px;
		color: #555;
		position: relative;
		font-weight: bold;
	}
	.fn-mob-menu-box li a:hover {
		color: #333;
	}
	.fn-mob-menu-box ul.sub-menu a {
		padding-left: 30px;
	}
	.fn-mob-tgl:active {
		background: rgba(0,0,0,0.2);
	}
	.fn-mob-menu-box a:active {
		background: rgba(0,0,0,0.1);
	}
	/* PRIMARY */	
	.fn-primary {
		padding: 0px 20px 20px 20px!important;
		margin-top: -10px!important;
	}
	.fn-content, .fn-main-sidebar {
		width: 100%!important;
		float: none;
	}
	/* STICKY */
	.fn-sticky .item {
		width: 100%;
	}
	.fn-sticky .item .item-inner {
		padding: 0!important;
	}
	/* BLOG */
	.fn-blog-static .item {
		float: none;
		width: 100%;
	}
	.fn-blog-static .item .item-inner {
		padding: 0!important;
	}
	.item-title-right .item-snippet,
	.item-title-left .item-snippet	{display: none;}
	.item-title-right .item-mid,
	.item-title-left .item-mid {max-height: 80px;}
	.item-title-right .item-meta .item-categories,
	.item-title-right .item-meta .item-author,
	.item-title-left .item-meta .item-categories,
	.item-title-left .item-meta .item-author {
		display: inline-block;
		margin-bottom: 1em;
	}
	
	/* FOOTER */
	.fn-footer-row-branding .fn-footer-col,
	.fn-footer-row-widgets .fn-footer-col {
		width: 100%;	
	}
	.fn-footer-col-inner {
		padding: 0 20px 0 20px!important;
	}
	.fn-footer-col-inner .fn-sidebar {
		padding: 0!important;
	}
	.fn-footer-col-2 .fn-footer-col-inner {
		padding-bottom: 20px!important;
	}

	.fn-footer-copyright {
		line-height: 1.7em;
	}
	
	/* POSTS */
	span.entry-taxonomies-label {
		display: block;
	}

	.entry-taxonomies a {
		margin: 0.5em 1em 0 0;
		display: inline-block;
	}
	iframe[src*="youtu"] {
		max-height: 250px;
	}
	
	/* Column */
	.column {
		width: 100%!important;
		display: block;
	}
	.column-inner {
		padding: 0!important;
		margin: 0!important;
	}
}

@media screen and (max-width: 400px) {
	.entry-sharing-bottom > span {
		float: none;
	}
	.fn-grid .item {
		position: static;
		clear: both;
		width: 100%;
	}
	.fn-grid .sneeit-thumb {
		position: relative!important;
		height: 250px!important;
	}
	.fn-grid-stage {
		height: auto!important;
	}
	.fn-grid .item-snippet {
		display: none;
	}
}